*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background:linear-gradient(to right,#4e2cf3,#c300ffe6);
    color:#fff;
}
.container{
    margin: 16%;
    width: 90%;
    margin-left: 40%;
}
.display{
    width: 32%;
    margin-top: 20px;
    margin-bottom: 30px;
    background: #fff;
    color:#333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px ;
    border-radius: 5px;
}
.container h1{
    font-weight: 700;
    font-family: 45px;
}
.container h1 span{
    color: #e3d619;
    border-bottom: 4px solid #8d7405;
    padding-bottom: 7px;
}
.display img{
    width: 40px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: none;
    font-size: 24px;

}
.container button img{
    width: 28px;
    margin-left: 10px;
}
.container button{
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f7c068;
    color: #000;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    cursor: pointer;
}